@model AuthSystem.Models.GerarchiaDistintaComponente

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questa gerarchia?</h3>
<div>
    <h4>GerarchiaDistintaComponente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistintaComponenti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistintaComponenti.CodiceComponente)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescrizioneComponentePadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescrizioneComponentePadre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodiceComponentePadre" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
