@model AuthSystem.Models.GerarchiaDistintaComponente

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifica</h1>

<h4>Gerarchia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodiceComponente" class="control-label"></label>
                <select asp-for="CodiceComponente" class="form-control" asp-items="ViewBag.CodiceComponente"></select>
                <span asp-validation-for="CodiceComponente" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CodiceComponentePadre" />
            <div class="form-group">
                <label asp-for="DescrizioneComponentePadre" class="control-label"></label>
                <input asp-for="DescrizioneComponentePadre" class="form-control" />
                <span asp-validation-for="DescrizioneComponentePadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
