@model AuthSystem.Models.OdlFaseVersamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OdlFaseVersamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVersamento" />
            <div class="form-group">
                <label asp-for="CodiceArticolo" class="control-label"></label>
                <select asp-for="CodiceArticolo" class="form-control" asp-items="ViewBag.CodiceArticolo"></select>
                <span asp-validation-for="CodiceArticolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceOdl" class="control-label"></label>
                <select asp-for="CodiceOdl" class="form-control" asp-items="ViewBag.CodiceOdl"></select>
                <span asp-validation-for="CodiceOdl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFaseODL" class="control-label"></label>
                <select asp-for="IdFaseODL" class="form-control" asp-items="ViewBag.IdFaseODL"></select>
                <span asp-validation-for="IdFaseODL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceMacchinaFisica" class="control-label"></label>
                <select asp-for="CodiceMacchinaFisica" class="form-control" asp-items="ViewBag.CodiceMacchinaFisica"></select>
                <span asp-validation-for="CodiceMacchinaFisica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAspNetUsers" class="control-label"></label>
                <select asp-for="IdAspNetUsers" class="form-control" asp-items="ViewBag.IdAspNetUsers"></select>
                <span asp-validation-for="IdAspNetUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoLavoroNetto" class="control-label"></label>
                <input asp-for="TempoLavoroNetto" class="form-control" />
                <span asp-validation-for="TempoLavoroNetto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PezziBuoni" class="control-label"></label>
                <input asp-for="PezziBuoni" class="form-control" />
                <span asp-validation-for="PezziBuoni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PezziScartati" class="control-label"></label>
                <input asp-for="PezziScartati" class="form-control" />
                <span asp-validation-for="PezziScartati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
